body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
display: flex;
justify-content: center;
}
input {
  font-size: 1.3em;
}

.error {
  border: 1px solid red;
}

.cont {
  width: 200px;
  height: 200px;
}

.light {
  color: #fff;
}

.btn {
  background: green;
  color: #fff;
  padding: 0.5em 1em;
  border: 1px solid green;
  outline: none;
  margin-left: 0.5em;
}


